*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

body{
    height: 100vh;
    color: white;
    background-color: darkslateblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.apachurra{
    padding: 5rem 1rem;
    border-radius: 8rem;
    border: none;
    font-size: 1.25rem;
    color: darkblue;
    cursor: pointer;
    scale: 1;
    transition: all 0.3 ease;
}

.apachurra:hover {
    background-color: black;
    color: antiquewhite;
    scale: 1.1;
}

.apachurra:active {
    scale: .9;
}
