* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: sans-serif;
    background-color: darkblue;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

ul {
    list-style: none;
}

.instrucciones {
    background-color: aliceblue;
    color: blue;
    padding: 24px;
    border-radius: 24px;
    box-shadow: 0 24px 32px #000;
    text-align: center;
}

.instrucciones p {
    margin: 12px 0;
}

.instrucciones ul {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.cursor {
    position: absolute;
    top: ;
    left: ;
    font-size: 32px;
}

